*{
    background-color:rgb(237, 236, 242);
}
.container{
    display: flex;
    padding-top: 30px;
}
 
 .image img{
    align-items: flex-end;
    padding-left: 60px;
    width: 80%;
} 
 


.content h3{
    line-height: 5px;
    padding-top: 10%;
    font-size: 30px;
    color: rgb(59, 55, 55);;
}

.content h2{
    line-height: 5px;
    font-size: 55px;
    font-weight: lighter;
    font-family:fantasy;
    color: rgb(59, 55, 55);
}

.content .sub1 {
    line-height: 5px;
    font-size: 23px;
    font-family: fantasy;
    color: rgb(211, 65, 65);
    padding-bottom: 40px;
}



.content p{
    font-size: 20;
    color: rgb(20, 20, 20);
    font-weight: lighter;
}

.content .button{
    display: block;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    width: 250px;
    background-color: rgb(211, 65, 65);
    color: rgb(235, 228, 228);
    border-color: transparent;
}

/***************** CSS for detail page **********************/

.detailContainer{
display: flex;
}
 
  .arrow img{
    padding: 20px;
    width: 25px;
}

.edu{
    padding-left: 130px;
    padding-top: 120px;
    line-height:10px;
    font-size: 20px;
    font-weight:bold;
    font-family:fantasy;
    color: rgb(59, 55, 55);
}
.bg{
    padding-left: 130px;
    line-height:10px;

    font-size: 50px;
    font-weight:100;
    font-family:fantasy;
    color: rgb(59, 55, 55);

}
hr.divider{
    border-style:solid;
    color: rgb(59, 55, 55);
    background-color: rgb(59, 55, 55);
    height: 7px;
     width:246px;
    margin-left: 130px;
    align-self: flex-start;
}
.detail{
    padding-top: 30px;
    padding-left: 130px;
    padding-right: 300px;
    padding-bottom: 200px;
    display: flex;
    justify-content:space-between;
    margin: auto;
}
.detail > * {
    flex: 1 1 0;
  }

.detail .primary{
    background-color:   rgb(223, 223, 229);
        height: 300px;        
    color: rgb(59, 55, 55);
}
.detail .primary h3{
    background-color: transparent;
    text-align: start;
    padding-left: 20px;
    font-weight:lighter;
    font-family: fantasy;
}
.detail .primary .subb{
    font-weight: bold;
    font-size: 17px;
    line-height: 0%;
}

.detail .highschool .subb{
font-weight: bold;
line-height: 0%;
font-size: 17px;
}

.detail .higherschool .subb{
    font-weight: bold;
    line-height: 0%;
    font-size: 17px;

    }

.detail .primary p{
    background-color: transparent;
    align-self: center;
    font-weight:lighter;
    padding-left: 20px ;
    padding-right: 20px;
}

.detail .highschool{
    background-color: rgb(223, 223, 229);
    color: rgb(59, 55, 55);
    margin-left: 20px;
    margin-right: 20px;
    height: 300px;
}

.detail .highschool h3{
    background-color: transparent;
    text-align: start;
    padding-left: 20px;
    font-weight:lighter;
    font-family: fantasy;
}

.detail .highschool p{
    background-color: transparent;
    align-self: center;
    font-weight:lighter;
    padding-left: 20px ;
    padding-right: 20px;
}

.detail .higherschool{
    color: rgb(59, 55, 55);
    background-color: rgb(223, 223, 229);
    height: 300px;
}

.detail .higherschool h3{
    background-color: transparent;
    text-align: start;
    padding-left: 20px;
    font-weight:lighter;
    font-family: fantasy;
}

.detail .higherschool p{
    background-color: transparent;
    align-self: center;
    font-weight:lighter;
    padding-left: 20px ;
    padding-right: 20px;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(223, 223, 229); 
  align-self: flex-start;
  padding: 10px;
}
.contact-form form{
    background-color: rgb(223, 223, 229);
}

.contact-form h2 {
    text-align: start;
    padding-left: 65px;
    font-size: 30px;
    font-family: fantasy;
    color: rgb(59, 55, 55);;
    background-color: rgb(223, 223, 229);
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 70%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  resize: vertical;
}

.contact-form button[type="submit"] {
  background-color:  rgb(211, 65, 65);
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.contact-form button[type="submit"]:hover {
  background-color: #c23737;
}

.contact-form #status {
  margin-top: 20px;
  text-align: center;
  color: red;
}

.social-links{
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 350px;
    margin: 0 auto;
    width: 50%;

}
.icon img{
    align-items: center;
    width: 30px;
    padding: 20px;
}